<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
	</configSections>

	<appSettings>
		<add key="configFilePath" value="C:\Program Files\Softix\DCTops\DCTopsConfigs.xml" />
		
		<add key="RemotePortNo"   value="8085"/>
		<add key="RemoteIpAddr"   value="127.0.0.1"/>
		<add key="RemoteUri"      value="DCTopsService" />		
	</appSettings>	
</configuration>
